<h1>Task List</h1>
<p><%= @welcome_msg %></p>

<% @tasks.each do |task| %>

  <% if task.completed == true %>
      <h1><%= link_to("✔︎#{task.title}", show_path(task[:id])) %></h1>
    <%else%>
      <h1><%= link_to("❏#{task.title}", show_path(task[:id])) %></h1>
    <%end %>

<p>
  <%= button_to "Delete Task", { action: "destroy", id: task.id },
                                method: :delete, data: { confirm: "Are you sure?" } %>
</p>
<% end %>

<p>
  <%=link_to("Add a Task", new_path) %>
</p>
<!-- <button type="submit"> Delete a Task</button> -->
<!-- <p>Find me in app/views/tasks/index.html.erb</p> -->
