<p id="full-list-show" ><%=link_to("Task List", index_path) %></p>

<article class="post-it">
  <!--Add in a link that goes back to the index page  -->
  <h2> <%= @task_of_interest[:title]%> </h2>

  <h3> <%= @task_of_interest[:description] %></h3>

<p class="completion">
 <% if @task_of_interest[:completed] == true %>
     <% @task_of_interest[:completed_at] = @task_of_interest[:updated_at] %>
     <!--Because I assume the last update made to the task will be to mark it as completed  -->
    ✔︎ Task completed on: <%=@task_of_interest.completed_at.to_formatted_s(:long)%>
   <%else%>
    ❏This task is NOT completed yet
      <p class="complete-button"><%= button_to "Complete", { action: "update", id: @task_of_interest.id, task: { completed: true} }, method: :patch %></p>
   <%end %>
</p>

</article>
<!-- <p>Find me in app/views/tasks/show.html.erb</p> -->
